body,
html {
  min-width: 100%;
  overflow-x: hidden;
}

.bg-about-us {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgb(163, 163, 163), rgb(219, 219, 219));
  background: url("./../img/About/cover-about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.about-us-onrow {
  margin-top: -80px;
}

.onImageText {
  margin: auto 0;
  margin-left: 20px;
}

.vmcards {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}

.vmcards > img {
  width: 200px;
  height: 200px;
  margin: 0;
}
