/*Mobile CSS Below*/
@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}

/*Desktop CSS Below*/
@media only screen and (min-width: 480px) {
  .homepage_container {
    margin-top: -200px;
    z-index: 100;
    padding: 50px;
  }

  .hp-para-text {
    font-size: 20px;
  }

  #carouselExampleControls {
    z-index: -1;
  }
  .sponsors-card-img-hp {
    max-width: 300px;
    margin: 10px;
  }
}
