.rcard-img{
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .card-title{
    text-decoration: underline;
    font-weight: bold;
  }

  .card-text{
    font-size: 15px;
  }

.card-body.text-center{

}

.card-body > p.card-text{
    height: 180px;
}